/* *********************************/
/* below 1344px (for smaller desktops) */
/* *********************************/

@media (max-width: 84em) {
  html {
    font-size: 56%;
  }

  .header-container {
    width: 95%;
  }

  .hero {
    max-width: 120rem;
    grid-template-columns: 1fr 1fr;
  }

  .primary-heading {
    font-size: 4.4rem;
  }

  .box-item {
    padding: 3.2rem;
  }

  .marketing-info {
    margin: 3.2rem 2.4rem;
  }

  .features-heading .secondary-heading {
    margin: 0.8rem 9.6rem;
  }

  .step {
    margin-right: 2.4rem;
  }

  .achievements-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .video-img {
    text-align: center;
  }

  .play-icon {
    width: 11%;
    top: 50%;
    left: 50%;
  }

  .video-desc {
    margin-right: 6.4rem;
  }

  .achievements-media .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app-col {
    grid-template-columns: 4fr 1fr;
  }

  .comment-text {
    padding: 1.4rem 0;
  }

  .spons-heading {
    width: 100%;
  }
}

/* *********************************/
/* below 950px (for tablets) */
/* *********************************/

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .cta {
    display: flex;
    align-items: center;
    margin-right: 1.8rem;
  }

  .cta-button:link,
  .cta-button:visited {
    padding: 1.2rem;
  }

  .navbar {
    display: flex;
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 99;
  }

  .menu {
    display: block;
    z-index: 9999;
  }

  .nav-open .navbar {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .btn-menu[name="close"] {
    display: block;
  }

  .nav-open .btn-menu[name="menu"] {
    display: none;
  }

  .navbar-list {
    flex-direction: column;
    gap: 4.8rem;
    font-size: 3.2rem;
  }

  .hero {
    grid-template-columns: 2fr 1.3fr;
  }

  .how-items {
    margin: 0;
  }

  .box-item {
    padding: 3.2rem 1.8rem;
  }

  .marketing-card {
    display: block;
  }

  .marketing-img {
    display: none;
  }

  .section-marketing {
    display: flex;
    justify-content: center;
  }

  .features-heading {
    width: 65%;
  }

  .features-info {
    display: flex;
    flex-direction: column;
  }
  .features-list {
    width: 80%;
    align-items: normal;
  }

  .video-img {
    display: flex;
    justify-content: center;
  }

  .slide-video {
    display: block;
    width: 80%;
  }

  .play-icon {
    width: 15%;
    height: 40%;
  }

  .app-col {
    grid-template-columns: 1fr;
  }

  .plan {
    padding: 4.8rem 0.5rem 0 1.2rem;
  }

  .section-comment {
    margin: 8rem 4.8rem;
  }

  .comment-text .text {
    padding: 0;
  }

  .logo {
    margin: 1.8rem;
  }
}

/* *********************************/
/* below 780px (for small tablets) */
/* *********************************/

@media (max-width: 48em) {
  html {
    font-size: 45%;
  }

  .section-hero {
    padding-top: 12.8rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero-img {
    width: 113%;
    display: flex;
    justify-content: end;
  }

  .hero-img img {
    width: 35%;
  }

  .how-heading {
    flex-direction: column;
    text-align: center;
    margin-bottom: 3.2rem;
  }

  .how-items {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .box-item {
    padding: 3.2rem 2.4rem;
  }

  .features-heading {
    width: 100%;
  }

  .features-img {
    display: flex;
    justify-content: center;
  }

  .features-img img {
    display: block;
    width: 80%;
  }

  .achievements {
    grid-template-columns: 1fr;
  }

  .achievement-box {
    padding: 4.8rem 0;
  }

  .achievement-box-text {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .slide-video {
    width: 90%;
  }

  .play-icon {
    width: 26%;
    height: 63%;
  }

  .video-info {
    padding-left: 0;
  }

  .app-col {
    margin-left: 0;
  }

  .plans {
    grid-template-columns: 1fr;
  }
  .plan {
    padding: 4.8rem 4.8rem;
  }

  .section-comment {
    padding: 3.2rem;
  }

  .comment {
    flex-direction: column;
    text-align: center;
  }

  .comment-row {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .comment-row .name {
    font-size: 2.4rem;
  }

  .comment .slide-arr {
    display: none;
  }

  .section-spons {
    display: flex;
    flex-direction: column;
  }

  .spons-logos {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin: 0.8rem;
    padding: 1.8rem 2.4rem;
  }

  .up-logos,
  .down-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .down-logos .logo:last-child {
    grid-area: 2/2;
  }

  .footer .cols {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .f-col:first-child {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .f-col {
    margin-bottom: 1.6rem;
  }

  .col-link1 {
    margin-left: 0;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-row {
    flex-direction: column;
  }
}

/* *********************************/
/* below 550px (for small mobiles) */
/* *********************************/

@media (max-width: 34em) {
  html {
    font-size: 45%;
  }

  .primary-heading {
    font-size: 3.2rem;
    padding-top: 1.8rem;
    line-height: 1.5;
  }

  .marketing-info {
    text-align: center;
  }

  .marketing-info .secondary-heading {
    font-size: 3.2rem;
  }

  .marketing-desc {
    margin: 0 1.8rem;
  }

  .marketing-steps {
    flex-direction: column;
    text-align: left;
  }

  .step-icon {
    display: block;
    margin-top: 3.2rem;
  }

  .features-heading .secondary-heading {
    margin: 0.8rem 6.6rem;
  }

  .features-list {
    width: 100%;
  }

  .slide-video {
    width: 100%;
  }

  .play-icon {
    width: 31%;
    height: 65%;
  }

  .achievements-media .img img {
    display: block;
    width: 100%;
  }
}
